<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>展示所有已上传的文件</title>
	<link rel="stylesheet" href="../plug/bootstrap/css/bootstrap.min.css">  
	<script src="../plug/jquery/jquery-3.3.1.min.js"></script>
	<script src="../plug/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table table-hover table-bordered table-striped">
	<thead>
		<tr>
			<th>名称</th>
			<th>城市</th>
			<th>邮编</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Tanmay</td>
			<td>Bangalore</td>
			<td>560001</td>
		</tr>
		<tr>
			<td>Sachin</td>
			<td>Mumbai</td>
			<td>400003</td>
		</tr>
		<tr>
			<td>Uma</td>
			<td>Pune</td>
			<td>411027</td>
		</tr>
	</tbody>
</table>

</body>
</html>